@import './tokens.css';

@font-face {
  font-family: 'VTCGoblinHand';
  src: url('./fonts/VTCGoblinHand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonHun';
  src: url('./fonts/Monster\ hunter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonHunDos';
  src: url('./fonts/Monster\ hunter\ type\ 2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSans';
  src: url('./fonts/IBMPlexSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.page {
  display: grid;
  grid-template-columns: [start] 1fr 1fr 1fr 1fr 1fr 1fr [end];
  gap: 20px;
}



.page > header {
    grid-column: 1 / -1;
    grid-auto-flow: column;

    display: grid;
    
    background-color: var(--color-background-header);
    /* /*outline: 20px solid var(--color-background-header);* */
    
    padding:1rem;

    justify-content: space-between;
    align-items: baseline;
    position: sticky;
    top: 0;
    /*z-index: 1000;*/
    
}

.page > header h1 {
  font-family: 'MonHunDos', "Copperplate Gothic Light", sans-serif;
  color: var(--color-text-inverted);
  white-space: nowrap;
}

.page > header .user {
  display: flex;
  justify-content: left;
  align-items: baseline;
  /*font-size: clamp(1.2rem, 4vw, 2rem);*/
  font-size: 0.85rem;
  gap: 0.35rem;
  white-space: nowrap;
}

.page > header .user .icon {
    width: 1.25rem;
    height: 1.25rem;
  }

.page > section {
  flex-basis: 100%;
  overflow: auto;
  margin: 0;
  padding: 0.5rem;
}

body
{
    font-family: 'IBMPlexSans', helvetica, sans-serif;
    background-color: var(--color-background-page);
    color: var(--color-text);

    dt {
    font-weight: bold;
    }

    dl,
    dd {
    font-size: 0.9rem;
    }

    a {
        color: var(--color-accent);
    }

    /*dd {
    margin-bottom: 1em;
    }*/
}

svg.icon {
  display: inline;
  height: 2em;
  width: 2em;
  vertical-align: top;
  fill: currentColor;
}


@media screen and
    (max-width: 50rem) {
  .page {
    grid-template-columns: [start] 1fr 1fr 1fr 1fr [end];
  }

  .page > header h1 {
    font-size: 1.2rem;
  }

  .page > header .user {
    font-size: 0.5rem;
  }

  .page > header .user .icon {
    height: 1rem;
    width: 1rem;
  }

  
}