:root {
  --color-accent: #C2A83E;
  --color-accent-inverted: #F1F7ED;
  --color-link: var(--color-accent);
  --color-link-inverted: var(--color-accent-inverted);
  --color-text: #243E36;
  --color-text-inverted: rgb(255 255 255);
  --color-background-header: #7CA982;
  --color-background-page: #E0EEC6;
  --color-background-column: #F1F7ED;
}